/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Dosis|Raleway&display=swap');
/*BODY*/
body{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    background-color: #34495e;
}

/*NAVIGATION*/
h1{
   
    font-family: 'Dosis', sans-serif;
    text-align: center;
    background: #fff;
    
    
    margin: 0;
    
}
header{
    
    position: fixed;
    top: 1%;
    /*display: inline-flex;*/
    width: 100%;
    z-index: 1;
    
    
}
nav{
    width: 60%;
    border: 10px solid #2980B9;
    position: absolute;
    left: 1%;
    top: 1%;
    
}
nav ul{
    display: inline-flex;
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0;
}
nav ul li{
    width: calc(100%/3);
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background: #34495e;
    color: #fff;
    border: 5px solid #fff;
    
    
}
nav ul li:hover{
    background: #2980B9;
    
    
}
nav ul li a{
    text-decoration: none;
    font-variant: small-caps;
    color: inherit
}
fieldset{
    width: 30%;
    position: absolute;
    right: 1%;
    top: 1%;
    margin-left: 5%;
    display: ruby;
    background-color: white;
    background: #fff;
    border: 10px solid #2980B9;
    font-size: 16px;	
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
legend{
    font-family: 'Dosis', sans-serif;
    background: #34495e;
    color: #fff;
    font-variant: small-caps;
    font-size: 20px;
}
/*TEXTE PRINCIPAL*/
section{
    margin-top: 8%;
    height: 82%;
    margin-left: 1%;
    
    overflow-y: auto;
}
#texte_principal{
    width: 55%;
    padding: 3%;
    background-color: #fff;
     /*border: 10px solid #2980B9;*/
    
}
p{
    text-align: justify
}
ul.poem{
    list-style: none;
}
p.opener{
    text-align: center;
    font-variant: small-caps
}
p.signed{
    text-align: right;
    font-style: italic;
    margin-right: 10%;
}
div.q{
    margin: 5%
}
/*CORRESPONDANCE */
.couple{
    width: 175%;
    height: auto;
    display: table
}
.correspondance{
    column-count: 2;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    width: 77%;
    column-gap: 6%;
    float: right;
    right: 0;
    /*border: 2px solid rgba(25, 195, 25, 0.9);
    border-left: none;
    border-bottom: none;*/
    padding: 1%;
    background-color: #fff;
     border: 5px solid #2980B9;
    padding-left: 2%
        
}

.correspondance p{
    padding-left: 1%; 
}

.phrase_source{
    
    width: 59%;
    /*border: 2px solid rgba(25, 195, 25, 0.9);
    border-right: none;
    border-top: none;
    padding: 1%*/
}
.actif{
     background-color:rgba(163, 157, 157, 0.86);
    color: #fff;
    cursor: pointer;
}
.clique{
    background-color:#34495e;
    color: #fff;
    cursor: pointer;
}



.mots{background-color: #C0392B;
color: #fff}
.lemmes{background-color: #E67E22;
color: #fff}
.synonymeBase-lemme, .lemme-synonymeBase, .synonymeElargi-lemme{background-color:  #28b463 ;
color: #fff}
.synonymeBase-synonymeBase, .synonymeElargi-synonymeElargi{background-color: #2980B9;
color: #fff}

.affiche:before
{content: " [";
   font-variant-position: sub;
    color: #34495e;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    
}
.affiche:after
{content: "]"attr(data-type);
   font-variant-position: sub;
    color: #34495e;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
   
    
}

.auteur{
    font-variant: small-caps;
    margin-left: -6%;
    margin-right: 3%;
    font-size: 1em;
     background-color:  #34495e;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    
    
}
/*GRAPHE CORRESPONDANCES*/
#graph, #champ{
    display: none;
    height : 98%;
    z-index: 0;
    background-color: #fff;
    margin-top: 0%;
}
#legende{
        position: absolute;
		right: 1%;
		top: 5%;
        /*margin: 0.5em;*/
		background: #fff;
		border: 10px solid #2980B9;
		/*box-shadow: inset 0 0 0 0.25em rgba(240, 240, 240, 0.9);*/
        width: 12%;
		overflow-x: hidden; 
		overflow-x: auto; 
		/*text-align:justify; */
  		font-size: 16px;	
		font-family: 'Raleway', sans-serif;
        z-index: 1;
        padding: 10px;
    }
 #cy, #cy2{
        width: 100%;
     margin-top: 5%;
        height: 90%;
        background-color: #34495e;
        z-index: 0;
     background-color: #fff;
            


    }
[data-id="pop"]{
    position: absolute;
      user-select: none;
    left : 5%;
    top : 20%;
    width: 50%;
    z-index: 1;
		/*margin: 0.5em;*/
		background: #fff;
		border: 5px solid #2980B9;
		/*box-shadow: inset 0 0 0 0.25em rgba(240, 240, 240, 0.9);*/
		overflow-x: hidden; 
		overflow-x: auto; 
		/*text-align:justify;*/ 
  		font-size: 16px;	
		font-family: 'Raleway', sans-serif;
    display :inline-flex;
    cursor: grab;
	
}

.source, .target{width : 47%; float: left; margin-left: 2%; cursor: auto;}
.target .phrase_target{
    display : block !important;
    
}
.target .phrase_target .auteur{
    display: none;
    
}
.zoom{
    background-color: rgba(163, 157, 157, 0.86)
}
h5{
    font-size: 1.1em;
    margin: 0;
    text-align: center;
    font-variant: small-caps;
     color:  #34495e;
    font-family: 'Dosis', sans-serif;
}
#fermeture{
        font-family: 'Dosis', sans-serif;
        color: #2980B9;
        font-size: 1.2em;
        background-color: gainsboro;
        padding: 2px;
        cursor: pointer;
    position: absolute;
    right: 0;
    }
    #fermeture:hover{
        color: gainsboro;
        background-color: #2980B9;
    }
/*CHAMPS LEXICAUX*/
